<ion-header>
  <ion-toolbar>
      <ion-button href="/home" color="dark"> < </ion-button>
    <ion-title text-center color="light">c++</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br><br>
  <ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/c++/CPP1.pdf'); return true;"> chapitre 1 </ion-button>
  <br><br>
  <ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/c++/CPP2.pdf'); return true;"> chapitre 2 </ion-button>
  <br><br>
  <ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/c++/exercices.pdf'); return true;">serie d'exercices</ion-button>

</ion-content>
