<ion-header>
  <ion-toolbar>
      <ion-button href="/home" color="dark"> < </ion-button>
    <ion-title text-center color="light">meris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br><br>
<ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/meris/Merise.pdf'); return true;"> chapitre 1 </ion-button>
<br><br>
<ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/meris/TD1.pdf'); return true;">  serie d'exercices </ion-button>
</ion-content>
