<ion-header>
  <ion-toolbar>
      <ion-button href="/home" color="dark"> < </ion-button>
    <ion-title text-center color="light">vb.net</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<br><br>
<ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/vb.net/1 - Introduction.pdf'); return true;"> chapitre 1 </ion-button>
<br><br>
<ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/vb.net/2 - Interface Utilisateur.pdf'); return true;"> chapitre 2 </ion-button>
<br><br>
<ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/vb.net/3 - POO.pdf'); return true;"> chapitre 3 </ion-button>
</ion-content>
