<!---
<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      HOME 
    </ion-title>
  </ion-toolbar>
</ion-header>
-->
<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/prog.jpg"></ion-img>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          
          <ion-card text-center padding color="dark" href="/algo" >
            <ion-button href="/algo" color="dark" expand="full" >
            <h2>algorithme</h2></ion-button>
          </ion-card>
        </ion-col>
        <ion-col col-3>
          <ion-card text-center padding color="dark">
            <ion-button href="/python" color="dark" expand="full" >
            <h2>python</h2> 
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="dark">
            <ion-button href="/lang-c" color="dark" expand="full" >
            <h2>langage C</h2>
            </ion-button>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="dark">
            <ion-button href="/cpp" color="dark" expand="full" >
            <h2>C++</h2>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="dark">
            <ion-button href="/java" color="dark" expand="block" >
            <h2>JAVA</h2>
            </ion-button>
          </ion-card>
        </ion-col>
        <ion-col col-6>
            <ion-card text-center padding color="dark">
              <ion-button href="/vbnet" color="dark" expand="block" >
              <h2>VB.net</h2>
              </ion-button>
            </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-card text-center padding color="dark"  >
            <ion-button href="/meris" color="dark" expand="block" >
              <h2>MERIS </h2>
              </ion-button>
          </ion-card>
        </ion-col>
        <ion-col col-6>
          <ion-card text-center padding color="dark">
            <ion-button href="/datab" color="dark" expand="block" >
            <h2>base de données</h2>
            </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6 >
          <ion-card text-center padding color="dark">
            <ion-button href="/reseaux" color="dark" expand="block" >
            <h2>RESEAUX INFORMATIQUE</h2>
            </ion-button>
          </ion-card>
        </ion-col>
        
      </ion-row>


    </ion-grid>
</ion-content>
