<ion-header>
  <ion-toolbar>
      <ion-button href="/home" color="dark"> < </ion-button>
    <ion-title text-center color="light">algo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br>
  <ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/algo/algo.pdf'); return true;"> chapitre 1 </ion-button>
  <br><br>
  <ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/algo/algo2.pdf'); return true;"> chapitre 2 </ion-button>
  <br><br>
  <ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/algo/algotp1.pdf'); return true;"> serie d'exercices 1 </ion-button>
  <br><br>
  <ion-button  expand="full" type=submit color="dark" class="btn btn-danger" onclick=" window.open('../../assets/algo/algotp2.pdf'); return true;"> serie d'exercices 2 </ion-button>
</ion-content>
